{%- liquid
  assign selected_variant = product.selected_or_first_available_variant
-%}
<div class="my_container {{ template.name }}">
  <h2 class="text-sm text-left mb-4">{{ template.name }} / Product-template-1</h2>
  {% comment %} #product info {% endcomment %}
  <div>
    <product-info>
      <div
        data-section-id="{{ section.id }}"
        id="product-{{ section.id }}"
        class=" grid grid-cols-1 md:grid-cols-2 gap-4 ">
        <div>
          {% render 'product-media-template-1'
            , product: product
            , selected_variant: selected_variant %}
        </div>
        <div>

          product info

        </div>
      </div>
    </product-info>
  </div>
</div>

{% schema %}
  {
    "name": "Product Template 1",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Product Template 1",
        "settings": {}
      }
    ]
  }
{% endschema %}


<script>
  document.addEventListener("DOMContentLoaded", () => {
    class ProductInfo extends HTMLElement {
      constructor(){
        super()
        this.productInfo()
      }
  
      productInfo(){
       // console.log('product info')
      
      }
  
    }
  
  
    customElements.define('product-info', ProductInfo)
  
  })
</script>